body {
    font-family: "Comic Sans MS", sans-serif;
}

h3 {
    text-align: center;
    font-family: "Comic Sans MS", sans-serif;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-family: "Comic Sans MS", sans-serif;
}

.link-container {
    display: flex;
}

a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    transition: background-color 0.3s ease;
    flex: 1;
    margin: 0 5px;
    font-family: "Comic Sans MS", sans-serif;
}

a:hover {
    background-color: #1e7e34;
}